* {
    background-color: gainsboro;
}

a {
    text-decoration: none;
}

a:hover {
    color: coral;
}

table, th, td {
    border: 1px solid black;
    font-size: large;
    font-style: italic;
}

.tekst p {
    margin-right: 12em;
    font-size: large;
}

.tekst li {
    margin-right: 12em;
    font-size: large;
}


#nawigacja {
   position: fixed;
   right: 0%;
   top: 0%;
   border-style: none none solid solid;
   border-color: blue;
   border-width: 0.3em;
   padding: 1em;
}

#nawigacja h3 {
    text-indent: 0.5em;
    color: blue;
}

#jezyki p::first-letter {
    font-size: 200%;
    color: #8A2BE2;
}

#gora {
    position: relative;
    left: 48em;
    font-size: medium;
    color: red;
}